# This file is managed by Ansible
config setup
{% for key,value in ipsec_config_setup.items() %}
  {{key}}={{value}}
{% endfor %}

{% if ipsec_conn_default | length > 0 %}
conn %default
{% for key,value in ipsec_conn_default.items() %}
  {{key}}={{value}}
{% endfor %}
{% endif %}

{% for group,group_parameters in ipsec_conn_groups.items() %}
conn {{ group }}
{% for key,value in group_parameters.items() %}
  {{key}}={{value}}
{% endfor %}
{% endfor %}
